@page
@model PozyczkoPrzypominajkaV2.Pages.Loans.DeleteModel

@{
  ViewData["Title"] = "Usuwanie pożyczki";
}

<h1 class="my-lg-5">Usuń</h1>

<h3>Na pewno chcesz usunąć tę pożyczkę?</h3>
<div>
    <h4>Pożyczka</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Loan.DisbursementDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Loan.DisbursementDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Loan.GiverList)
        </dt>
        <dd class="col-sm-8">
            @{var GiverName = Model.Loan.GiverList.Where(l => l.Selected == true).FirstOrDefault()?.Text ?? string.Empty;}
            @Html.DisplayFor(model => GiverName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Loan.ReceiverList)
        </dt>
        <dd class="col-sm-8">
            @{var ReceiverName = Model.Loan.ReceiverList.Where(l => l.Selected == true).FirstOrDefault()?.Text ?? string.Empty;}
            @Html.DisplayFor(model => ReceiverName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Loan.Amount)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Loan.Amount)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Loan.RepaymentDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Loan.RepaymentDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Loan.RepaymentAmount)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Loan.RepaymentAmount)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Loan.LoanId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-page="./Index">Moje pożyczki</a>
    </form>
</div>
