@page
@model PozyczkoPrzypominajkaV2.Pages.Loans.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="my-lg-5">Details</h1>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Loan.DisbursementDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Loan.DisbursementDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Loan.GiverList)
        </dt>
        <dd class="col-sm-8">
            @{var GiverName = Model.Loan.GiverList.Where(l => l.Selected == true).FirstOrDefault()?.Text ?? string.Empty;}
            @Html.DisplayFor(model => GiverName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Loan.ReceiverList)
        </dt>
        <dd class="col-sm-8">
            @{var ReceiverName = Model.Loan.ReceiverList.Where(l => l.Selected == true).FirstOrDefault()?.Text ?? string.Empty;}
            @Html.DisplayFor(model => ReceiverName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Loan.Amount)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Loan.Amount)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Loan.RepaymentDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Loan.RepaymentDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Loan.RepaymentAmount)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Loan.RepaymentAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Loan.LoanId">Edytuj</a> |
    <a asp-page="./Index">Moje pożyczki</a>
</div>
